*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Abril Fatface', cursive;
   font-family: 'Merriweather Sans', sans-serif;
   font-family: 'Work Sans', sans-serif;
}
.scroller {
    width: 300px;
    height: 100px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
  }
  .sticky {
	position: sticky;
	top: 0;
    /* width: 100%; */
}
.ground {
    height: 100vh;
    width: 100%;
    /* background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../_5Eb_Mnxv.avif); */
    /* background-size: cover;
    background-position: center; */
    background-color: black;
    /* background: linear-gradient(111.1deg, rgb(0, 40, 70) -4.8%, rgb(255, 115, 115) 82.7%, rgb(255, 175, 123) 97.2%); */
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%; */
    padding: 40px 10% 0 10%;
    background-color: black;
    /* background: linear-gradient(111.1deg, rgb(0, 40, 70) -4.8%, rgb(255, 115, 115) 82.7%, rgb(255, 175, 123) 97.2%); */
}
.logo{
    color: white;
    font-size: 28;
    /* font-size: clamp(1rem, 2.5vw, 2rem);  */
}
span{
    color: #ea1538;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: #ea1538;
    transition: .3s;
}
.button_resume{
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}
.button_resume:hover{
    transform: scale(1.3);
    cursor: pointer;
}


.home{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 13%;
}
.home h1{
    color: #ea1538;
    margin: 0px 0px 30px 4px;
    /* font-size: clamp(1rem, 2.5vw, 2rem); */
}
.home h3{
    color: white;
    margin: 0px 0px 30px 4px;
    font-size: clamp(1rem, 10vw, 2rem);
}
.home p{
    color: white;
    /* margin: 20px 0px 4px; */
    margin: 0px 0px 30px 4px;
    max-width: 540px;

}

.about{
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 13%;
}
.about h1{
    color: white;
    margin: 0px 0px 30px 4px;
    /* font-size: 1.2em; */
    font-size: clamp(1rem, 2.5vw, 2rem);
}
.about h3{
    color: white;
    margin: 0px 0px 30px 4px;
    font-size: clamp(1rem, 10vw, 2rem);
}
.about p{
    color: white;
    /* margin: 20px 0px 4px; */
    margin: 0px 0px 30px 4px;
    /* max-width: 700px; */


}
.about span{
    color: #ea1538;
}

.project{
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 13%;
}
.project h1{
    color: white;
    margin: 0px 0px 30px 4px;
    /* font-size: 1.2em; */
    font-size: clamp(1rem, 2.5vw, 2rem);
}
.project h3{
    color: white;
    margin: 0px 0px 30px 4px;
    font-size: clamp(1rem, 10vw, 2rem);
}
.project p{
    color: white;
    /* margin: 20px 0px 4px; */
    margin: 0px 0px 30px 4px;
    max-width: 540px;

}
.project li{
    color: white;
    /* margin: 20px 0px 4px; */
    margin: 0px 0px 30px 4px;
    max-width: 540px;

}
.project span{
    color: #ea1538;
}

.contact{
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;

    padding-bottom: 2%;
    padding-left: 13%;
}
.contact h1{
    color: white;
    margin: 0px 0px 30px 4px;
    /* font-size: 1.2em; */
    font-size: clamp(1rem, 2.5vw, 2rem);
}
.contact h3{
    color: white;
    margin: 0px 0px 30px 4px;
    font-size: clamp(1rem, 10vw, 2rem);
}
.contact p{
    color: white;
    /* margin: 20px 0px 4px; */
    margin: 0px 0px 30px 4px;
    max-width: 540px;

}
.contact span{
    color: #ea1538;
}

.media a{
    text-decoration: none;
    font-size: 30px;
    color: white;
    padding-right: 10px;
}

.media a:hover{
    opacity: 0.7;
    /* color: #ea1538; */
    color: skyblue;
    transition: .3s;
}


/* RESPONSIVE */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    nav ul li a{
        display: none;
    }

    .button_resume{
        display: none;
    }
    nav .sticky{
        display: none;
    }
    nav h2{
        display: flex;
    }
    .contact{

        padding-bottom: 10%;
    }

    .home{
        margin-top: 10%;
        margin-left: 0%;
        margin-right: 0%;
        padding-left: 3%;
    }

    .home h3{
        margin: 0px 0px 30px 4px;
        font-size: 25px;
    }
    .home p{
        margin: 0px 60px 0px 10px;
        /* max-width: 540px; */
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /** todo **/
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 10px;
}
nav ul li a{
    font-size: 10;
}
.logo{
    font-size: 15px;
}
.button_resume{
    font-size: 11px;
}
.contact{
    padding-bottom: 300px;
}
}

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}