*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
 }
.ground {
    height: 100vh;
    width: 100%;
    background-color: black;
}
.sticky {
	position: sticky;
	top: 0;
    /* width: 100%; */
}
.logo{
    color: white;
    font-size: 28;
    /* font-size: clamp(1rem, 2.5vw, 2rem);  */
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%; */
    padding: 40px 10% 0 10%;
    background-color: black;
    /* background: linear-gradient(111.1deg, rgb(0, 40, 70) -4.8%, rgb(255, 115, 115) 82.7%, rgb(255, 175, 123) 97.2%); */
}
span{
    color: #ea1538;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: #ea1538;
    transition: .3s;
}
.button_resume{
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}
.button_resume:hover{
    transform: scale(1.3);
    cursor: pointer;
}